body{
    color: #333333;
    font-family: 'Lucida Sans Unicode','Lucida Grande', sans-serif;
}

/*Início do cabeçalho*/
header{
    position: relative;
}

.menu-opcoes{
    position: absolute;
    bottom: 0;
    right: 0;
}

.sacola{
    background-image: url(mirrorfashion/img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;

    font-size: 12px;
    padding-right: 35px;
    padding-top: 8px;

    text-align: right;
    width: 140px;

    position: absolute;
    top: 30px;
    right: 0;
}

.menu-opcoes ul{
    font-size: 15px;
    float: left;
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 10px; 
}

.menu-opcoes a{
    color: #003366;
}

.conteiner{
    margin: auto;
    width: 75%;
    padding: 1px;
}

.conteiner img{
    margin-left: 10px;
}
/*Fim do cabeçalho*/

/*Início do contêiner destaques*/

.conteiner-destaque{
    margin: auto;
    width: 75%;
}

.menu{
    width: 30%; 
    float: left;
}

.busca, .menu-departamento{
    background-color: #DCDCDC;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1px;
}

.busca h2, .busca form, .menu-departamento h2{
    margin: 10px;
    font-size: 15px;
}

.menu-departamento li{
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamento a{
    color: #333333;
    text-decoration: none;
}

.busca input[type=search]{
    width: 170px;
    margin-bottom: 10px;
}

.menu-departamento {
    margin-top: 10px;
    padding-bottom: 10px;
}

.banner{
    width: 69%;
    float: right;
}

.banner img{
    width: 100%;
}
/*Fim do conteiner destaques*/

/*Início dos painéis*/
.paineis{
    margin: auto;
    width: 75%;

}

.novidades{
    float: left;
    width: 50%;
    background-color: #F5DCDC;
    margin-bottom: 10px;
    
}

.destaques{
    width: 50%;
    float: right;
    background-color: #DCDCF5;
    margin-bottom: 10px;
}

.paineis li{
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin: 0;
    margin-right: 2px;
}

.paineis h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    margin-left: 45px;
}

.paineis a{
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
/*Fim dos painéis*/