body{
    color: #333333;
    font-family: 'Lucida Sans Unicode','Lucida Grande', sans-serif;
}

header{
    position: relative;
}

.menu-opcoes{
    position: absolute;
    bottom: 0;
    right: 0;
}

.sacola{
    background-image: url(mirrorfashion/img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;


    font-size: 12px;
    padding-right: 35px;
    padding-top: 8px;
    text-align: right;
    width: 140px;

    position: absolute;
    top: 30px;
    right: 0;
}

.menu-opcoes ul{
    font-size: 15px;
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;  
}

.menu-opcoes a{
    color: #003366;
}

.container{
    margin: 0 auto;
    width: 940px;
}

.busca, .menu-departamento{
    background-color: #DCDCDC;
    font-weight: bold;
    text-transform: uppercase;

    margin-right: 10px;
    margin-left: 230px;
    width: 230px;

    float: left;
}

.busca h2, .busca form, .menu-departamento h2{
    margin: 10px;
    font-size: 15px;
}

.menu-departamento li{
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamento a{
    color: #333333;
    text-decoration: none;
}

.busca input[type=search]{
    width: 170px;
}

.menu-departamento {
    clear: left;
    margin-top: 10px;
    padding-bottom: 10px;
}

.container-destaque {
    margin-top: 10px;
}